<div class="container-fluid">
    <div class="container">
        <h1>{{title}}</h1>
        <p>Bienvenidos {{title}}</p>
            <p>Probando el index</p>
            <p>Probando el index</p>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laboriosam, quod natus obcaecati unde odit nobis, quis laborum reiciendis cupiditate officiis. Voluptatem natus debitis explicabo hic qui sequi eius sit?
            </span>
            <p>Probando el index</p>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laboriosam, quod natus obcaecati unde odit nobis, quis laborum reiciendis cupiditate officiis. Voluptatem natus debitis explicabo hic qui sequi eius sit?
            </span>
            <p>Probando el index</p>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laboriosam, quod natus obcaecati unde odit nobis, quis laborum reiciendis cupiditate officiis. Voluptatem natus debitis explicabo hic qui sequi eius sit?
            </span>
            
            <hr>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laboriosam, quod natus obcaecati unde odit nobis, quis laborum reiciendis cupiditate officiis. Voluptatem natus debitis explicabo hic qui sequi eius sit?
            </span>

    </div>
</div>
       