<header>
    <div class="container-fluid bg-rojo">
        <div class="container headerNav">
            <div class="row">
                    <div class="col-6 headerLogo">
                        <img src="/images/header_logo.svg" alt="Huellitas.com">
                    </div>
                    <div class="col-6 text-end pe-4">
                        <a href="#login"><div class="btn btn-outline-light my-4 headerBt">
                            su huellita
                        </div></a>
                    </div>
            </div>
        </div>
    </div>
</header>
