*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(236, 236, 236);
    font-size: 16px;
}
header{
    position: fixed;
    z-index: 999;
}

    header .boton-nav{
        width: 100px;
        margin-top: 6px;
        background: rgb(189, 206, 255);
        overflow: hidden;
    }
    header ul li{
        list-style: none;
    }
    header .skull{
        width: 50px;
    }
    header .skull:hover{
        animation: tada; /* sacado de ANIMATECSS */
        animation-duration: 1s; /* don't forget to set a duration! */
        /* animation-delay: 0.8s; */
        animation-iteration-count: infinite;
    }
    main{
        background: rgb(236, 236, 236);
        height: 100vh;
        padding: 0px;
        position: relative;
        top: 70px;
        /* margin-top: 10px; */
    }
    .titulo{
        color: rgb(92, 92, 92);
        text-align: center;
        margin-top: 10px;
    }

/* OWLCAROUSEL */
.owl-carousel .item{
    margin: 3px;
  }
  .owl-demo .item img{
    /* display: block; */
    width: 100%;
    /* height: auto; */
  }
  .owl-nav{
      font-size: 5em;
      font-weight: 400;
      text-align: center;
      color: rgb(92, 92, 92);
  }


    @media (min-width:0px) and (max-width:767px) {
        header .skull{
            width: 430%;
        }
        main{
            top: 240px;
            /* margin-top: 10px; */
        }
     }

/* PARALLAX */

.con_paralax{
    /* position: relative; */
    width: 100%;
    /* max-width: 900px; */
    height: 600px;
    overflow: hidden;

}

#parallax {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-image: url("../img/BG-3_parallax.png"), url("../img/BG-2_parallax.png"), url("../img/BG-1_parallax.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }
  .txt_parallax span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    opacity: .5;
    font-size: 4em;
  }

